$black:   #32344a;
$red:     #f7768e;
$green:   #9ece6a;
$yellow:  #e0af68;
$blue:    #7aa2f7;
$purple: #ad8ee6;
$cyan:    #449dab;
$white:   #9699a8;
$background: #1a1b26;
$background-2: #24283b;
$background-3: #24283b;
$orange: #ff9e64;
