@use 'colors/TokyoNight' as colors;

$black: colors.$black;
$red: colors.$red;
$green: colors.$green;
$yellow: colors.$yellow;
$blue: colors.$blue;
$purple: colors.$purple;
$cyan: colors.$cyan;
$white: colors.$white;
$background: colors.$background;
$background-2: colors.$background-2;
$background-3: colors.$background-3;
$orange: colors.$orange;

window {
    background-color: transparent;
    color:$white;
    font-family:"Iosevka";
    border:none;
}

.mainBox {
    background-color: $background;
    border-radius: 12px;
    border: $background-3 solid 2px;
}

.buttons {
	all:unset;
    border: none;
    text-shadow:none;
    margin: 5px 10px 5px 10px;
    padding: 8px 16px 8px 16px;
    font-family: "FontAwesome6Free";
	transition: 1s;
	background-color:$background-2;
	border-radius: 5px;
}

.buttons:hover {
	background-color: $black;
}

.icon {
    font-size: 18px;
    font-family: "FontAwesome6Free"
}

.bigText {
    font-size: 24px;
}

.box {
    background-color: $background-3;
    margin: 8px;
    border-radius: 8px;
}

.userImg {
    margin:10px;
}

.progress {
    border:none;
}

.progress trough {
    border:none;
    background-color:$background-3;
}

.progress progress {
    border:none;
}

.ram {
    color:$red;
    & progress {
        background-color: $red;
    }
}

.cpu {
    color:$orange;
    & progress {
        background-color: $orange;
    }
}

.disk {
    color: $cyan;
    & progress {
        background-color: $cyan;
    }
}

.temp {
    color: $yellow;
    margin-left: 5px;
    margin-right: 5px;
}



.reboot {
    color: $yellow;
}

.poweroff {
    color: $red;
}

.lock {
    color: $orange;
}

.bth {
	&.ON {
		color:$green;
	}
	&.OFF {
		color:$red;
	}
	&.disconnect {
		color:$orange;
	}
}
